@charset "UTF-8";

/* 後でstyle.cssに移動させてください
普通のモーダルとエラー表示用のモーダルです
 */

/* モーダルを開くボタン */
.modal_open {
	font-size: 16px;
	width: 120px;
	height: 50px;
	margin: 0px 5px;
	border: solid 1px orange;
	color: #d9811c;
	background: #feffe0;
	cursor: pointer;
}

/* モーダルと背景の指定 */
.modal {
	display: none;
	position: absolute;
	top: 50px;
	width: 200%;
	max-height: 100%;
	text-align: center;
	overflow: visible;
	transition: .3s;
	box-sizing: border-box;
}

/* モーダルの擬似要素の指定 */
.modal:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	margin-left: -0.2em;
}

/* クラスが追加された時の指定 */
.modal.is-active {
	display: block;
	z-index: 20;
}

/* モーダル内側の指定 */
.modal_container {
	position: absolute;
	top: 0;
	width: 100%;
}

/* モーダルを閉じるボタンの指定 */
.modal_close {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
	width: 40px;
	height: 50px;
	color: #d9811c;
	cursor: pointer;
	font-size: 40px;
}

/* モーダルのコンテンツ部分の指定 */
.modal_content {
    height: 220px;
	background: rgba(254, 255, 224, 0.95);
	line-height: 1.8;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}

.modal_content label {
	color: #d9811c;
}

/* モーダルのコンテンツ部分のテキストの指定 */
.modal_content p {
	margin: 1em 0;
}

.modal_content select {
	height: 20px;
}

.modal_content select, input {
	color: saddlebrown;
}





/* エラー用のモーダル参考 */

/* モーダルと背景の指定 */
/*.modal {*/
/*	position: fixed;*/
/*	top: 0;*/
/*	left: 0;*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	text-align: center;*/
/*	background: rgba(0, 0, 0, 50%);*/
/*	padding: 40px 20px;*/
/*	overflow: auto;*/
/*	opacity: 0;*/
/*	visibility: hidden;*/
/*	transition: .3s;*/
/*	box-sizing: border-box;*/
/*	z-index: 30;　これは必ずいれといてください*/
/*}*/

/* モーダルの擬似要素の指定 */
/*.modal:before {*/
/*	content: "";*/
/*	display: inline-block;*/
/*	vertical-align: middle;*/
/*	height: 100%;*/
/*	margin-left: -0.2em;*/
/*}*/

/* クラスが追加された時の指定 */
/*.modal.is-active {*/
/*	opacity: 1;*/
/*	visibility: visible;*/
/*}*/

/* モーダル内側の指定 */
/*.modal-container {*/
/*	position: relative;*/
/*	display: inline-block;*/
/*	vertical-align: middle;*/
/*	max-width: 600px;*/
/*	width: 90%;*/
/*}*/

/* モーダルを閉じるボタンの指定 */
/*.modal-close {*/
/*	position: absolute;*/
/*	display: flex;*/
/*	align-items: center;*/
/*	justify-content: center;*/
/*	top: -20px;*/
/*	right: -20px;*/
/*	width: 40px;*/
/*	height: 40px;*/
/*	color: #fff;*/
/*	background: #000;*/
/*	border-radius: 50%;*/
/*	cursor: pointer;*/
/*}*/

/* モーダルのコンテンツ部分の指定 */
/*.modal-content {*/
/*	background: #fff;*/
/*	text-align: left;*/
/*	line-height: 1.8;*/
/*	padding: 20px;*/
/*}*/