@charset "UTF-8";

/*
順番規則（他はフィーリング）
display
position
padding
margin
top right bottom left
width
height
border
background
text
color
font
cursor
*/

body {
	background-color: whitesmoke;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
				 sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	margin-left: auto;
	margin-right: auto;
}

/*↓社員紹介画面のcss*/
/*社員1人分（div）*/
#employee {
	display: inline-block;
	height: 200px;
	transition: 0.3s;
}

#employee:hover {
	transform: scale(1.1);
}

/*社員一覧の1行分（div）*/
#employee_line {
	margin-top: 100px;
	margin-bottom: 100px;
}

/*社員名（p）*/
#employee_name {
	color: black;
	font-size: 30px;
	font-weight: 500;
	margin: 0;
	position: relative;
	top: -70px;
	cursor: pointer;
}

/*社員情報（p）*/
#employee_detail {
	color: black;
	margin: 0;
	position: relative;
	top: -70px;
	cursor: pointer;
}

#employee_name, #employee_detail {
	background-color: rgba(255, 255, 255, 0.8);
}

/*↓社員詳細画面のcss*/
/*社員の詳細情報（div）*/
/*#employee_info {*/
/*	width: 600px;*/
/*}*/

#employee_info {
	border: solid 1px ;
}

#employee_img, #employee_info {
	display: inline-block;
}

#navi {
	position: fixed;
	top: 0px;
	width: 100%;
}

.layer {
	z-index: 20;
}

#header-menu {
	/*最初はナビゲーションボタンは非表示*/
	list-style: none;
	margin-left: auto;
	padding: 30px;
	width: 300px;
	background-color:rgba(240, 248, 252, 0.7);
	clip-path: inset(0 0 0 100%);
	transition: clip-path 0.4s ease-in-out;

}

.cheese, .tomato, .lettuce, .ketchup, .egg, .patty {
	padding: 10px 10px 10px 10px;
	margin: 30px 30px 0 0;
	font-size: 24px;
	color: #404040;
	display: block;
	text-align: right;
	text-decoration: none;
	cursor: pointer;
	
}


li li {
	margin-right: 40px;
	list-style: none;
	font-size: 18px;
	color: black;
	text-align: right;
	cursor: pointer;
}

.hamburger {
	position: absolute;
	top: 32px;
	right: 32px;
	cursor: pointer;
	width: 32px;
	height: 24px;
	z-index: 30;
}

.hamburger span {
	/*3本の線を作る*/
	transition: all 0.3s;
	position: absolute;
	height: 2px;
	background-color: #303030;
	width: 100%;
	z-index: 30;
}

.hamburger span:nth-of-type(1) {
	/*上の線の位置*/
	top: 4px;
}

.hamburger span:nth-of-type(2) {
	/*真ん中の線の位置*/
	top: 12px;
}

.hamburger span:nth-of-type(3) {
	/*下の線の位置*/
	top: 20px;
}

.hamburger.open span:nth-of-type(1) {
	/*openのとき、上の線を右斜めにする*/
	top: 10px;
	transform: translateY(6px) rotate(-33deg);
}

.hamburger.open span:nth-of-type(2) {
	/*真ん中の線を消す*/
	opacity: 0;
}

.hamburger.open span:nth-of-type(3) {
	/*下の線を左斜めにする*/
	top: 22px;
	transform: translateY(-6px) rotate(33deg);
}

#header-menu.open {
	clip-path: inset(0 0 0 0);
}

ul ul {
	display: none;
}

/*タイトルロゴ*/
#page-title {
	padding: 10px 0px 30px 0px;
	background-color: #dd9933;
	background-image:
	radial-gradient(at 0 0, #ffcc55, transparent 40%),
	radial-gradient(at 0 40%, #dd6666, transparent 40%),
	radial-gradient(at 40% 60%, #fffadd, transparent 80%),
	radial-gradient(at 0 100%, #ccee88, transparent 50%);
	background-attachment: fixed;
}

#page-title h6 {
	line-height: 90%;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 100;
	text-align: center;
}

#page-title h1 {
	line-height: 20px;
	margin-bottom: 10px;
	text-align: center;
	color: #fafafa;
	text-shadow: 1px 2px 3px #101010;
	font-size: 50px;
	font-weight: 500;
}

/*外部リンク*/
#top-link {
	position: relative;
	z-index: 10;
}
#top-link ul {
	display: block;
	margin-right: 48px;
	text-align: right;
}

#top-link li{
	list-style: none;
	display: inline-block;
	margin: 6px;
	font-size: 8px;
}

#top-link img {
	width: 22px;
	text-align: center;
	cursor: pointer;
}

.box-parent {
  width:100%;
  height:auto;
  display:flex;
  flex-direction:column;
  align-items:center; /* 中央揃え */
}
.box-child {
  width:500px; /* 任意の値 */
  height:100px; /* 任意の値 */
}


body{
    background-color: darkorange;
}



.search-form-7 {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.search-form-7 label {
    width: 250px;
}

.search-form-7 input {
    width: 100%;
    height: 34px;
    padding: 1px 5px 1px 8px;
    border: 1px solid #999999;
    box-sizing: border-box;
    color: #000;
    outline: none;
}

.search-form-7 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 140px;
    height: 34px;
    border: none;
    background-color: #4070ff;
    color: #fff;
    cursor: pointer;
}

.search-form-7 button::before {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
}