@charset "UTF-8";

body {
	background-color: whitesmoke;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*↓社員紹介画面のcss*/
/*社員1人分（div）*/
#employee {
	display: inline-block;
	height: 200px;
	transition: 0.3s;
}

#employee:hover {
	transform: scale(1.1);
}

/*社員一覧の1行分（div）*/
#employee_line {
	margin-top: 100px;
	margin-bottom: 100px;
}

/*社員名（p）*/
#employee_name {
	color: black;
	font-size: 30px;
	font-weight: 500;
	margin: 0;
	position: relative;
	top: -70px;
	cursor: pointer;
}

/*社員情報（p）*/
#employee_detail {
	color: black;
	margin: 0;
	position: relative;
	top: -70px;
	cursor: pointer;
}

#employee_name, #employee_detail {
	background-color: rgba(255, 255, 255, 0.8);
}

/*↓社員詳細画面のcss*/
/*社員の詳細情報（div）*/
/*#employee_info {*/
/*	width: 600px;*/
/*}*/

#employee_img, #employee_info {
	display: inline-block;
}