@charset "UTF-8";

/*
順番規則（他はフィーリング）
display
position
padding
margin
top right bottom left
width
height
border
background
text
color
font
cursor
*/

body {
	background-color: whitesmoke;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
				 sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	margin-left: auto;
	margin-right: auto;
}

/*↓社員紹介画面のcss*/
/*社員1人分（div）*/
#human {
	display: inline-block;
	height: 200px;
	transition: 0.3s;
}

#human:hover {
	transform: scale(1.1);
}

/*社員一覧の1行分（div）*/
#human_line {
	margin-top: 100px;
	margin-bottom: 100px;
}

/*社員名（p）*/
#human_name {
	color: black;
	font-size: 30px;
	font-weight: 500;
	margin: 0;
	position: relative;
	top: -70px;
	cursor: pointer;
}

/*社員情報（p）*/
#human_detail {
	color: black;
	margin: 0;
	position: relative;
	top: -70px;
	cursor: pointer;
}

#human_name, #human_detail {
	background-color: rgba(255, 255, 255, 0.8);
}

/*↓社員詳細画面のcss*/
#human_img, #human_info {
	display: inline-block;
}

#navi {
	position: fixed;
	top: 0px;
	width: 100%;
}

.layer {
	z-index: 20;
}

#header-menu {
	/*最初はナビゲーションボタンは非表示*/
	list-style: none;
	margin-left: auto;
	padding: 30px;
	width: 300px;
	background-color:rgba(240, 248, 252, 0.7);
	clip-path: inset(0 0 0 100%);
	transition: clip-path 0.4s ease-in-out;

}

.cheese, .tomato, .lettuce, .ketchup, .egg, .patty {
	padding: 10px 10px 10px 10px;
	margin: 30px 30px 0 0;
	font-size: 24px;
	color: #404040;
	display: block;
	text-align: right;
	text-decoration: none;
	cursor: pointer;
	
}


li li {
	margin-right: 40px;
	list-style: none;
	font-size: 18px;
	color: black;
	text-align: right;
	cursor: pointer;
}

.hamburger {
	position: absolute;
	top: 32px;
	right: 32px;
	cursor: pointer;
	width: 32px;
	height: 24px;
	z-index: 30;
}

.hamburger span {
	/*3本の線を作る*/
	transition: all 0.3s;
	position: absolute;
	height: 2px;
	background-color: #303030;
	width: 100%;
	z-index: 30;
}

.hamburger span:nth-of-type(1) {
	/*上の線の位置*/
	top: 4px;
}

.hamburger span:nth-of-type(2) {
	/*真ん中の線の位置*/
	top: 12px;
}

.hamburger span:nth-of-type(3) {
	/*下の線の位置*/
	top: 20px;
}

.hamburger.open span:nth-of-type(1) {
	/*openのとき、上の線を右斜めにする*/
	top: 10px;
	transform: translateY(6px) rotate(-33deg);
}

.hamburger.open span:nth-of-type(2) {
	/*真ん中の線を消す*/
	opacity: 0;
}

.hamburger.open span:nth-of-type(3) {
	/*下の線を左斜めにする*/
	top: 22px;
	transform: translateY(-6px) rotate(33deg);
}

#header-menu.open {
	clip-path: inset(0 0 0 0);
}

ul ul {
	display: none;
}

/*タイトルロゴ*/
#page-title {
	padding: 10px 0px 30px 0px;
	background-color: #dd9933;
	background-image:
	radial-gradient(at 0 0, #ffcc55, transparent 40%),
	radial-gradient(at 0 40%, #dd6666, transparent 40%),
	radial-gradient(at 40% 60%, #fffadd, transparent 80%),
	radial-gradient(at 0 100%, #cc7788, transparent 50%);
	background-attachment: fixed;
}

#page-title h6 {
	line-height: 90%;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 100;
	text-align: center;
}

#page-title h1 {
	line-height: 20px;
	margin-bottom: 10px;
	text-align: center;
	color: #fafafa;
	text-shadow: 1px 2px 3px #101010;
	font-size: 50px;
	font-weight: 500;
}
/*-----------------------------------------------------------------------------------*/
/*外部リンク*/
#top-link {
	position: relative;
	margin-top: -60px;
	z-index: 10;
}
#top-link ul {
	display: block;
	margin-right: 48px;
	text-align: right;
}

#top-link li{
	list-style: none;
	display: inline-block;
	margin: 6px;
	font-size: 8px;
}

#top-link img {
	width: 22px;
	filter: brightness(0) invert(1);
	text-align: center;
	cursor: pointer;
}
/*-----------------------------------------------------------------------------------*/


